
h1{
    text-align:center;
    color: darkred;
    font-size: 80px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
   
}

body {
    background-image: url(pic.avif);
    background-size:cover; /* Cover the entire screen */
    background-repeat: no-repeat; /*Do not repeat the image */
    background-position: center; /* Center the image */
}
 

  
form  {
    font-style: bold;
    font-size: 20px;
}



form{
text-align: center;
}

#food {
    color: darkred;
    text-align: center;
    font-style: italic;
    font-style: bold;
    font-size: 15px;
    position: sticky ; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }